h1 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

body {
    margin: 0;
}

input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#Submit {
    height: 39px;
    padding: 10px;
    background-color: #4caf50;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
    transition: opacity 0.3s ease-in-out;
}

#Submit:hover {
    opacity: 0.8;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 50px;
}

.serch_res img {
    width: 100%;
    height: 200px;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}

.search_results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.serch_res {
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.serch_res:hover img {
    transform: scale(1.05);
}

.serch_res a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: darkgray;
}

.serch_res:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#Load-more {
    background-color: lightblue;
    border: none;
    height: 39px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: block;
    margin: 0 auto;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    bottom: 20px;
    display: none;
}

#Load-more:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .serch_res {
        width: 45%;
    }

    #Load-more {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .serch_res {
        width: 100%;
    }

    form {
        flex-direction: column;
    }

    #Submit {
        margin-top: 20px;
    }

    #Load-more {
        margin-bottom: 20px;
    }
}
